.minUrl{
    width:20rem;
}
.btncompra{
    background-color: rgba(0,0,0,0);
    border:none;
    box-shadow: none;
    color: rgba(red, green, blue, 0);
    align-self:flex-end;
}
.nofotos{
    display: flex;
    flex-direction: column;
    position: absolute;
    top:20vh;
    left:28%;
    align-content: flex-end;
    justify-content: flex-end;
    justify-self: center;
    align-self: center;
    
}
.addCarrito[agregadoAlCarrito='0']{
    display: flex;
    position: relative;
    bottom: 2rem;
    height: 2rem;
    background-color: rgba(255, 255, 255, 0.664);
    align-items: center;
    justify-content: center;
    transition: background-color 1s ease;
    
}
.addCarrito[agregadoAlCarrito='1']{
    background-color: rgba(0, 0, 0, 0.74);
    display: flex;
    position: relative;
    bottom: 2rem;
    height: 2rem;
    align-items: center;
    justify-content: center;
    transition: background-color 1s ease;
    cursor: pointer;
}

.tumbleweed{
    
    width: 40vw;
}
.textoAddCarrito[agregadoAlCarrito='0']{
    padding-left: 35%;
    padding-top:0.4rem;
    user-select: none;
    color:black;
    transition: color 1s ease;
    cursor: pointer;

}
.textoAddCarrito[agregadoAlCarrito='1']{
    color:white;
    padding-left: 35%;
    padding-top:0.4rem;
    user-select: none;
    transition: color 1s ease;
}
.fa-plus[agregadoAlCarrito='1']{
    color:red
}
.fa-plus[agregadoAlCarrito='0']{
    animation: desvanecerojo 0.5s ease;
}

.fa-check[agregadoAlCarrito='1']{
    color: rgb(255, 217, 0);
   
    border-radius: 10px;
    animation-name: jump;
    animation-duration: 0.4s;
    animation-timing-function: ease
}
.fa-check[agregadoAlCarrito='0']{
    color: black;
}


@keyframes jump{
    0%{
        color:black
    }
    25% {
        transform:translate(0, -5px);
        color: rgb(54, 49, 1)
    }

    50% {
        transform:translate(0, -7px);
        color: rgb(238, 255, 0)
    }

    75% {
        transform:translate(0, -5px);
        color: rgb(251, 255, 0);
        
    }

    100% {
        transform:translate(0, -0px);
        color: rgb(255, 217, 0);
        
    }
}

@keyframes desvanecerojo{
    0%{
        color: rgb(255, 217, 0)
    }
    25%{
        color: rgb(197, 201, 5)
    }
    50%{
        color: rgb(132, 141, 6)
    }
    75%{
        color: rgb(54, 49, 1)
    }
    100%{
        color:black
    }

}
