.passContainer{
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(92, 92, 92, 0.562);
    z-index: 2;
}

.pass{
    display: flex;
    width: 30vw;
    height: 20vh;
    background-color: white;
    border: 0.5px solid grey;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 3;
}
.passform{
    display: flex;
    flex-direction: column;

}
.btnpass{
    width:50%;
    align-self: center;
}
.texto{
    font-weight: bold;
}
.cerrar{
    align-self:flex-end;
    cursor: pointer;
}