.img-cover-album { 
    width: 100px; 
    height: 100px; 
    object-fit: cover;
}


.btn-editar {
    background-color: rgba(255, 193, 7, 0.7);
    border-color: rgba(255, 193, 7, 0.7)
}

.btn-editar:hover {
    background-color: rgba(255, 193, 7, 1);
    border-color: rgba(255, 193, 7, 1)
}